//COLORS
$color-primary-dark: #003757;

$color-primary: #005788;
$color-primary-2: #209ae0;
$color-primary-light: #cee7f7;
$color-primary-light-2: #e9f5fc;


$color-secondary-light: #5295bb;

$color-tertiary: rgb(206, 224, 2);


$color-white: #fff;
$color-black: #000;
$color-gray: #919191;
$color-gray-light: #cccccc;
$color-gray-light-2:#e1e1e1;
$color-gray-dark: #aaaaaa;
$color-gray-dark-2: #8c8b8b;
$color-gray-dark-3: #777;



//GRID
$grid-width: 135rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 3rem;

$gutter-horizontal: 5rem;
$gutter-horizontal-small: 3.6rem;

//FONTS
$default-font-size: 1.6rem;